<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Minha Conta</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="power-outline" name="log-out" style="color: white;"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-button slot="end" fill="clear">Editar</ion-button>
      <ion-label>
        <h4>Jonas</h4>
        <p>454545454545 | jonas&#64;gmail</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" detail="true">
      <ion-icon name="home-outline" slot="start" color="dark">
        <h5>Gerenciar Endereços</h5>
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header style="display: flex;">
      <app-loading-request *ngIf="isLoading"></app-loading-request>
      <app-empty-screen *ngIf="requests?.length == 0 && !isLoading" [model]="model"></app-empty-screen>
      <app-request *ngFor="let request of requests" [request]="request"></app-request>
    </ion-list-header>
  </ion-list>
</ion-content>
